@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #111; 
  border-left: 2px solid #333;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fff; 
  border: 2px solid #111; /* Creates a stark boxy look */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}